@import "reset";
@import "variables";
@import "utils";
@import "icons";
@import "base";
@import "category";
@import "todo-list";
@import "slip";

.wrap{
  display: flex;
  background-color: #FFF;
  margin: 0 auto;
  height: $height-wrap;

  .side-bar{
    min-width: 200px;
    width:  200px;
  }

  .main{
    flex: 1;
  }
}

.main{
  flex: 1;
  display: flex;
  flex-direction: column;
}
